[submodule "scripts/mpv-repl"]
	path = scripts/mpv-repl
	url = https://github.com/rossy/mpv-repl.git
[submodule "scripts/mpv-scripts"]
	path = scripts/mpv-scripts
	url = https://github.com/wm4/mpv-scripts.git
[submodule "shaders/AdaptiveSharpen"]
	path = shaders/AdaptiveSharpen
	url = https://gist.github.com/8a77e4eb8276753b54bb94c1c50c317e.git
[submodule "shaders/FineSharp"]
	path = shaders/FineSharp
	url = https://gist.github.com/a9a21ad1f6dd7d0b4452.git
[submodule "shaders/SSimSuperRes"]
	path = shaders/SSimSuperRes
	url = https://gist.github.com/2364ffa6e81540f29cb7ab4c9bc05b6b.git
[submodule "shaders/KrigBilateral"]
	path = shaders/KrigBilateral
	url = https://gist.github.com/a015fc885d5c22e6891820ad89555637.git
